body {
	font-size: 13px;
	margin: 2em;
}

#budget-wrap {
	width: 960px;
	margin: 0 auto;
	
	h1 {
		text-align: center;
	}
	
	table {
		thead {
			th {
				white-space: nowrap;
			}
		}
	
		tbody {
			
			tr.field {
				&.odd { background: #f6f6f6; }
				&.even { background: #e6e6e6; }
				
				&.sub td.label {
					padding-left: 2em;
				}
				
				.label {
					.description {
						display: block;
						font-size: 0.8em;
						font-style: italic;
						color: #555;
					}
				}
			}
			
			td {
				padding: 0.25em 1em;
				
				&.section-label {
					color: #fff;
					font-weight: bold;
					background: #0f3c69;
				}
				
				&.category-label {
					background: #5fa5e6;
				}
			}
			
		}
	}
}