body {
	font-size: 12px;
	margin: 2em;
}

#budget-wrap {
	width: 960px;
	margin: 0 auto;
	
	h1 {
		text-align: center;
	}
	
	table {
		thead {
		
		}
	
		tbody {
			
			td {
				padding: 0.5em 1em;
			}
			
		}
	}
}